<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HashCoded</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="titleBar">
		<div class="title">#Coder</div>
		<div class="titleBarBtns">
			<div class="minimize inline"><i class="material-icons s18">remove</i></div>
			<div class="maximize inline"><i class="material-icons s18">stop</i></div>
			<div class="close inline"><i class="material-icons s18">close</i></div>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-2">
			<p class="ml-5 text-hide">SideBar</p>
		</div>
		<div class="col-1"></div>
		<div class="col-9">
			<h2 class="ml-1">#<span style="color: #89DDFF;font-weight: bolder;">Coder</span></h2>
			<h4 style="font-size: 1.1rem; font-weight: bold;">Simply Edit</h4>
		</div>
	</div>

	<script src="js/titleBarControls.js"></script>
	<script src="js/tether.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>