<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HashCoded</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="CodeMirror/theme/material.css">
	<link rel="stylesheet" href="CodeMirror/lib/codemirror.css">
	<link rel="stylesheet" href="CodeMirror/addon/hint/show-hint.css">
	
	<style type="text/css">
      .cm-matchhighlight {
      	background: #4F4F4F;
      	border-color: #00000030;
      }
   	  .activeline {
   	  	background: #fff !important;
   	  } 
      .CodeMirror-matchingbracket {
      	text-decoration: none !important;
      	border-bottom: 0.5px solid #fff;
      } 
    </style>

</head>
<body>

	<div class="titleBar">
		<div class="title">#Coder</div>
		<div class="titleBarBtns">
			<div class="minimize inline"><i class="material-icons s18">remove</i></div>
			<div class="maximize inline"><i class="material-icons s18">stop</i></div>
			<div class="close inline"><i class="material-icons s18">close</i></div>
		</div>
	</div>


	<div class="container-fluid">
		<div class="row mt-2">
			<div class="col">
				<ul class="nav nav-tabs" id="itemBar" role="tablist">
					<li role="presentation" id="item" class="nav-item">
						<a href="#home" aria-controls="home" data-toggle="tab" role="tab" class="nav-link active">Home<span class="tabClose"><i class="material-icons s18">close</i></span></a>
					</li>
					<li role="presentation" id="item" class="nav-item">
						<a href="#new" aria-controls="new" data-toggle="tab" role="tab" class="nav-link">untitled<span class="tabClose"><i class="material-icons s18">close</i></span></a>
					</li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<h2 class="ml-1">#<span style="color: #89DDFF;font-weight: bolder;">Coder</span></h2>
						<h4 clsas="afterLine" style="font-size: 1.1rem; font-weight: bold;">Simply Edit</h4>
						<hr>
					</div>
					<div role="tabpanel" class="tab-pane" id="new">
						<div id="codeArea" onclick="addInstance(this.id);" style="width: 100%;height: 100vh;"></div> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/titleBarControls.js"></script>
	<script src="js/tether.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
	<script src="CodeMirror/lib/codemirror.js"></script>

	<!-- <script src="CodeMirror/addon/hint/anyword-hint.js"></script> -->
	<script src="CodeMirror/addon/hint/show-hint.js"></script>
	<script src="CodeMirror/addon/hint/css-hint.js"></script>
	<!-- <script src="CodeMirror/addon/hint/xml-hint.js"></script> -->
	<!-- <script src="CodeMirror/addon/hint/html-hint.js"></script> -->
	<script src="CodeMirror/addon/hint/javascript-hint.js"></script>

	<script src="CodeMirror/mode/css/css.js"></script>
	<script src="CodeMirror/mode/xml/xml.js"></script>
	<script src="CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
	<script src="CodeMirror/mode/javascript/javascript.js"></script>

	<script src="CodeMirror/addon/edit/matchbrackets.js"></script>
	<script src="CodeMirror/addon/edit/closebrackets.js"></script>

	<script src="CodeMirror/addon/scroll/annotatescrollbar.js"></script>
	<script src="CodeMirror/addon/search/matchesonscrollbar.js"></script>
	<script src="CodeMirror/addon/search/searchcursor.js"></script>
	<script src="CodeMirror/addon/search/match-highlighter.js"></script>

	<script src="js/plugin/emmet.js"></script>

	<script>
		var instances = [];
		
		function addInstance(id){
			var val = false;

			if(instances.length == 0){
				val = true;
			}
			for (var i = 0; i < instances.length; i++) {
				if(instances[i].options.name === id){
					//Reset Focus or Cursor
					setTimeout(function(){
						instances[i].focus();
					}, 1);
					
					val = false;
					break;
				} else if(instances[i].options.name === id.options){
					val = false;
					break;
				} else{
					val = true;
				}
			}

			if(val){
				instances.push(id);
				var instanceId = $.inArray(id, instances);
				codeArea(instanceId);
			}
		}

		function codeArea(id){
			var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
			var extraKeys = {};
			var extraKeyMaps = {
				"Ctrl-Space" : "autocomplete",
				"N": function(cm){
	                	$("#itemBar").dblclick();
	            },
	            "W": function(cm){
	                	var editorName = '#' + cm.options.name;
	                	var attrId = $(editorName).parent().attr('id');
	                	var find = 'a[href="#'+attrId+'"]';
	                	$(find).children('span.tabClose').click()
	            },
	            "I": function(cm){
	                	CodeMirror.commands.indentAuto(instances[id]);
	            }

			}

			for (var key in extraKeyMaps) {
				if (extraKeyMaps.hasOwnProperty(key)) {

					if(key.includes('Ctrl')){
						extraKeys[key] = extraKeyMaps[key];
					} else {
						var runKey = (mac ? "Cmd-" : "Ctrl-") + key;
			    		extraKeys[runKey] = extraKeyMaps[key];
					}
			  	}
			}
			
			var elementId = instances[id];
			instances[id] = CodeMirror(document.getElementById(elementId), {
				mode: 'text/html',
				profile: 'html',
				tabSize: 4,
				indentUnit: 4,
				lineNumbers: true,
				autofocus: true,
				matchBrackets: true,
				styleActiveLine: true,
				theme: "material",
				lineWrapping: true,
				autoRefresh: true,
				smartIndent: true,
				name: elementId,
				autoCloseBrackets: true,
				highlightSelectionMatches: {annotateScrollbar: true},
				extraKeys: extraKeys,
				fixedGutter: true
			});

			emmetCodeMirror(instances[id], {
				'Cmd-E': 'emmet.expand_abbreviation',
				'Tab': 'emmet.expand_abbreviation_with_tab',
				'Cmd-D': 'emmet.balance_outward',
				'Shift-Cmd-D': 'emmet.balance_inward',
				'Cmd-M': 'emmet.matching_pair',
				'Shift-Cmd-A': 'emmet.wrap_with_abbreviation',
				'Ctrl-Alt-Right': 'emmet.next_edit_point',
				'Ctrl-Alt-Left': 'emmet.prev_edit_point',
				'Cmd-L': 'emmet.select_line',
				'Cmd-Shift-M': 'emmet.merge_lines',
				'Cmd-/': 'emmet.toggle_comment',
				'Cmd-J': 'emmet.split_join_tag',
				'Cmd-K': 'emmet.remove_tag',
				'Shift-Cmd-Y': 'emmet.evaluate_math_expression',

				'Ctrl-Up': 'emmet.increment_number_by_1',
				'Ctrl-Down': 'emmet.decrement_number_by_1',
				'Ctrl-Alt-Up': 'emmet.increment_number_by_01',
				'Ctrl-Alt-Down': 'emmet.decrement_number_by_01',
				'Shift-Ctrl-Up': 'emmet.increment_number_by_10',
				'Shift-Ctrl-Down': 'emmet.decrement_number_by_10',

				'Shift-Cmd-.': 'emmet.select_next_item',
				'Shift-Cmd-,': 'emmet.select_previous_item',
				'Cmd-B': 'emmet.reflect_css_value',
				
				'Enter': 'emmet.insert_formatted_line_break_only'
			});

			instances[id].on('inputRead', function(editor, event){
				if (!editor.state.completionActive) { 
					CodeMirror.commands.autocomplete(editor, null, {completeSingle: false});
				}
			});

			setTimeout(function() {
				instances[id].refresh();
				instances[id].focus();
			}, 1);
		}
	</script>

</body>
</html>