<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HashCoded</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="CodeMirror/theme/material.css">
	<link rel="stylesheet" href="CodeMirror/lib/codemirror.css">
	<link rel="stylesheet" href="CodeMirror/addon/hint/show-hint.css">
	
	<style type="text/css">
      .cm-matchhighlight {
      	background: #4F4F4F;
      	border-color: #00000030;
      }
   	  .activeline {
   	  	background: #fff !important;
   	  } 
      .CodeMirror-matchingbracket {
      	text-decoration: none !important;
      	border-bottom: 0.5px solid #fff;
      } 
    </style>

</head>
<body>

	<div class="titleBar">
		<div class="title">#Coder</div>
		<div class="titleBarBtns">
			<div class="minimize inline"><i class="material-icons s18">remove</i></div>
			<div class="maximize inline"><i class="material-icons s18">stop</i></div>
			<div class="close inline"><i class="material-icons s18">close</i></div>
		</div>
	</div>


	<div class="container-fluid">
		<div class="row mt-2">
			<div class="col">
				<ul class="nav nav-tabs" id="itemBar" role="tablist">
					<li role="presentation" id="item" class="nav-item">
						<a href="#home" aria-controls="home" data-toggle="tab" role="tab" class="nav-link active">Home<span class="tabClose"><i class="material-icons s18">close</i></span></a>
					</li>
					<li role="presentation" id="item" class="nav-item">
						<a href="#new" aria-controls="new" data-toggle="tab" role="tab" class="nav-link">untitled<span class="tabClose"><i class="material-icons s18">close</i></span></a>
					</li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<h2 class="ml-1">#<span style="color: #89DDFF;font-weight: bolder;">Coder</span></h2>
						<h4 clsas="afterLine" style="font-size: 1.1rem; font-weight: bold;">Simply Edit</h4>
						<hr>
					</div>
					<div role="tabpanel" class="tab-pane" id="new">
						<div id="codeArea" onclick="addInstance(this.id);" style="width: 100%;height: 100vh;"></div> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/titleBarControls.js"></script>
	<script src="js/tether.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
	<script src="CodeMirror/lib/codemirror.js"></script>
	<script src="CodeMirror/mode/javascript/javascript.js"></script>

	<script src="CodeMirror/addon/hint/anyword-hint.js"></script>
	<script src="CodeMirror/addon/hint/show-hint.js"></script>
	<script src="CodeMirror/addon/hint/css-hint.js"></script>
	<script src="CodeMirror/addon/edit/matchbrackets.js"></script>
	
	<script src="CodeMirror/addon/edit/closebrackets.js"></script>
	<script src="CodeMirror/addon/scroll/annotatescrollbar.js"></script>
	<script src="CodeMirror/addon/search/matchesonscrollbar.js"></script>
	<script src="CodeMirror/addon/search/searchcursor.js"></script>
	<script src="CodeMirror/addon/search/match-highlighter.js"></script>

	<script>
		var instances = [];
		
		function addInstance(id){
			var val = false;

			if(instances.length == 0){
				val = true;
			}
			for (var i = 0; i < instances.length; i++) {
				if(instances[i].options.name === id){
					console.log("Found");
					val = false;
					break;
				} else if(instances[i].options.name === id.options){
					val = false;
					break;
				} else{
					val = true;
				}
			}

			if(val){
				instances.push(id);
				var instanceId = $.inArray(id, instances);
				codeArea(instanceId);
			}
		}

		function codeArea(id){
			var elementId = instances[id];
			console.log(elementId, instances);
			instances[id] = CodeMirror(document.getElementById(elementId), {
				tabSize: 4,
				indentUnit: 4,
				lineNumbers: true,
				autofocus: true,
				matchBrackets: true,
				styleActiveLine: true,
				theme: "material",
				lineWrapping: true,
				autoRefresh: true,
				smartIndent: true,
				name: elementId,
				autoCloseBrackets: true,
				highlightSelectionMatches: {annotateScrollbar: true},
				extraKeys: {
	                "Ctrl-Space": "autocomplete",
	                "Ctrl-N": function(cm){
	                	$("#itemBar").dblclick();
	                },
	                "Ctrl-W": function(cm){
	                	var editorName = '#' + cm.options.name;
	                	var attrId = $(editorName).parent().attr('id');
	                	var find = 'a[href="#'+attrId+'"]';
	                	$(find).children('span.tabClose').click()
	                	// $(".tabClose").click();
	                },
	                "Shift-Tab": function(cm){
	                	CodeMirror.commands.indentAuto(instances[id]);
	                }
	            },
				fixedGutter: true
			});

			instances[id].on('inputRead', function(editor, event){
				if (!editor.state.completionActive) { 
					CodeMirror.commands.autocomplete(editor, null, {completeSingle: false});
				}
			});

			setTimeout(function() {
				instances[id].refresh();
			}, 1);
		}
	</script>

</body>
</html>