body{
	padding: 0;
	margin: 0;
	background-color: #212121;
	color: #FAFAFA;
	font-family: sans-serif;
	overflow: hidden;
}

.mainTabs{
	height: 100%;
}

.sidebar{
	width: 175px;
	float: left;
	height: 100vh;
}

.resizeBar{
	height: 100vh;
	float: right;
	width: 2px;
	cursor: col-resize;
	background: #2f2f2f;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("font/material.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("font/Roboto.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.center{
	text-align: center;
}

.inline{
	display: inline-block;
}

.titleBar {
  	-webkit-app-region: drag;
 	height: 25px;
 	padding: none;
	margin: 0px;
	background: #333333;
}

.title {
 	position: fixed;
 	top: 0px;
 	align-items: center;
	left: 12px;
	line-height: 25px;
	font-size: 13px;
	font-weight: lighter;
}

.titleBarBtns {
	-webkit-app-region: no-drag;
 	position: fixed;
 	top: 0px;
 	max-height: 27px;
 	right: 0;
 	padding-right: 6px;
 	float: right;
 	background: #212121;
 	border-bottom: 5px solid #4285F4;
}

#itemBar{
	background: #1F1F1F;
	min-height: 38px;
}

.close:hover{
	color: #FF5370;
	opacity: 1;
	cursor: default;
}

.maximize:hover{
	color: #3BA299;
	opacity: 1;
	cursor: default;
}

.minimize:hover{
	color: #FFCB6B;
	opacity: 1;
	cursor: default;
}

.close{
	color: #fff;
    text-shadow: 0 0px transparent;
    opacity: 1;
}

.material-icons{
	font-size: 18px !important;
	padding: 5px;
}

::-webkit-scrollbar {     
    background-color: #212121;
    height: 10px;
}

::-webkit-scrollbar-thumb:window-inactive, ::-webkit-scrollbar-thumb {
	background: #333333;
}

.nav-tabs{
	border: none;
}

.nav-tabs .nav-item.show .nav-link{
	background-color: transparent;
	border-color: transparent;
	color: #fff;
}

.nav-tabs .nav-link.active{
	background-color: transparent;
	border-color: transparent;
	border-bottom: 2px solid #4285F4;
	color: #fff;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
	border: transparent;
	transform: scale(1);
}

.tab-content {
	padding: 0px;
}

.tab-pane {
	padding: 15px 0; 
}

.nav-item{
	width: 150px;
}

.nav-item a{
	color: #909FA6 !important;
}

.nav-tabs li:hover a, .nav-tabs li:hover a:hover {
	border: none;
	color: #909FA6 !important;
	background: transparent; 
}

.tab-pane{
	padding-top: 5px;
}

.nav-tabs li a::after {
	content: "";
	background: #4285F4;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}

.nav-tabs li:hover a::after { 
	transform: scale(1); 
}

.tabClose{
    float: right;
    font-size: 1.1rem;
    margin-right: -15px;
    line-height: 1;
    font-weight: 700;
    color: #FAFAFA;
    text-shadow: none;
    opacity: .5;
}

.tabClose:hover, .tabClose:active, .tabClose:focus{
	color: #4285F4;
}

.tabClose .material-icons{
	font-size: 15px !important;
}

.CodeMirror-gutters{
	position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    z-index: 3;
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    white-space: nowrap;
}

.nav-link{
	font-size: 14px !important;
}

#codeArea{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

div.CodeMirror,.tab-content {
	height: 90vh;
	min-height: 90vh;
	margin-right: -20px;
	margin-left: -10px;
}

.cm-matchhighlight {
	background: #4F4F4F;
	border-color: #00000030;
}

.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursors {
  z-index: 3;
}

.activeline {
  	background: #fff !important;
} 

.CodeMirror-matchingbracket {
	text-decoration: none !important;
	border-bottom: 0.5px solid #fff;
}

.titleBar img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .5s ease-in-out;
}

.titleBar img:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cm-tab {
	/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);*/
    background-position: right;
    background-repeat: no-repeat;
    background: #fff;
    line-height: 0.1em;
    opacity: 0.1;
    vertical-align: middle;
}

.cm-tab::after {
	display: inline-block;
	width: 0px;
	position: relative;
	overflow: visible;
	left: -1.4em;
	color: #fff;
	font-size: 6px;
	/*vertical-align: middle;*/
	/*line-height: 2em;*/
}   
/*.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }*/