.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);

  background: #212121;
  font-size: 18px;
  font-family: sans-serif;
  max-width: 300px;
  min-width: 300px;
  max-height: 150px;
  overflow-y: auto; 
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 20px;
  border-radius: 2px;
  white-space: pre;
  color: rgba(233, 237, 237, 1);
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #2D2D2D;
  color: #fff;
}
