.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);

  background: #2f2f2f;
  font-size: 90%;
  font-family: sans-serif;
  max-width: 175px;
  max-height: 150px;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 20px;
  border-radius: 2px;
  white-space: pre;
  color: #fff;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #dadada;
  color: black;
}
