.CodeMirror-foldmarker {
  color: #212121;
  font-size: 18px;
  text-align: center;
  font-family: arial;
  line-height: .15em;
  cursor: pointer;
  border-radius: 7px;
  background: #FFB62C;
  opacity: 0.5;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}
