.CodeMirror-foldmarker{
  text-align: center;
  font-family: arial;
  line-height: .15em;
  cursor: pointer;
  align-items: center;
  color: #212121;
  width: 16px;
  font-size: 17px;
  background: #FFB62C;
  display: inline-table;
  vertical-align: middle;
  padding-bottom: 3px;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: "\0002C5";
}
.CodeMirror-foldgutter-open{
  margin-top: 5px !important;
}
.CodeMirror-foldgutter-folded:after {
  content: ">";
}
.CodeMirror-foldgutter-folded:hover, .CodeMirror-foldgutter-open:hover{
  color: #80CBC4;
}
